div.card
    div.card-body.d-flex.justify-content-between
        article
            a(href='/')(style={color: 'black'}) Home

        article
            a.ml-2.mr-2(href='/signin') Signin
            a(href='/signup') Signup

