doctype html
html
    head
        title Page 404
        meta(charset='utf-8')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    body

        div.card.mt-4(style={width: '50vw', margin: 'auto'})
            div.card-body.text-center 404 Page not found